<style include="shared-styles">
  :host {
    display: block;
  }

  .green {
    color: var(--default-primary-color);
  }

  .title {
    font-size: 28px;
    margin: 50px 0 20px 0;
    font-weight: bold;
    color: var(--default-primary-color);
  }

  .description {
    font-size: 22px;
    margin-bottom: 30px;
  }

  [section="orcid-login"] {
    text-align: center;
  }

  .about {
    padding: 20px; 
    margin-top: 20px;
    border-top: 1px solid var(--medium-background-color);
    text-align: left;
  }
  [section="orcid-login"] .about h3 {
    margin-bottom: 8px;
  }

  [section="cas-login"] {
    text-align: center;
  }
  [section="cas-login"] .title {
    color: var(--default-primary-color);
  }
  [section="cas-login"] .orcid a,
  [section="cas-login"] .orcid a:visited  {
    text-decoration: none;
    color: var(--default-secondary-color);
  }

  [section="link-approval"] .title {
    color: var(--default-primary-color);
    text-align: center;
  }
  [section="link-approval"] .description {
    text-align: center;
  }
  [section="link-approval"] .review {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  /* [section="link-approval"] .review > div {
    flex: 1;
  } */

  .review-card {
    min-width: 325px;
    padding: 20px;
    margin: 0 20px;
    display: inline-block;
    text-align: left;
    border: 1px solid var(--medium-background-color);
    border-radius: 10px;
  }

  @media(max-width: 768px) {
    [section="link-approval"] .review {
      display: block;
    }
  }

  table {
    border-spacing: 5px;
    border-collapse: separate;
  }

  .ucd-credentials {
    display: flex;
    justify-content: center;
  }

  .ucd-credentials > div {
    padding: 50px;
    border-radius: 25px;
    background-color: #e1e6ed;
  }

  .ucd-credentials .btn {
    margin: 25px 0 0 0;
  }

  a.btn > img {
    vertical-align: middle; 
    height: 30px;
    width: 30px;
    padding-right: 5px;
  }

  .btn {
    margin: 15px 0;
  }

  .no-id {
    color: var(--orcid-grey);
  }

  .no-id a, .no-id a:visited, a.orcid, a.orcid:visited {
    text-decoration: none;
    color: var(--default-secondary-color);
  }

  .info-label {
    color: var(--orcid-grey);
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
  }
</style>

<iron-pages selected="[[section]]" attr-for-selected="section">
  
  
  <div section="cas-login">
    <div class="title">Improve Your iD</div>
    <div class="description">Get the most out of your ORCiD iD with help from UC Davis.</div>
    
    <!-- <div class="orcid" style="margin-bottom: 30px">
      <img src="/images/orcid-vector-logo.svg" style="height: 18px; width: 18px; vertical-align: middle" />
      <a href="[[orcidUrl]]" class="orcid" target="_blank">[[orcid]]</a>
    </div> -->

    <!-- <div class="ucd-credentials">
      <div>
        <div><img src="/images/ucd-vector-logo-blue.svg" style="height: 46px" /></div>
        <div><a href="/auth/cas/login" class="btn">Login</a></div>
      </div>
    </div> -->

    <div><a href="/auth/cas/login" class="btn">UC Davis Login</a></div>

    <div class="about">
      <h3>About ORCID</h3>
      <div>ORCID is an independent non-profit organization that provides a persistent 
        identifier – an ORCID iD – that distinguishes you from other researchers and 
        a mechanism for linking your research outputs and activities to your iD. ORCID 
        is integrated into many systems used by publishers, funders, institutions, and 
        other research-related services. Learn more at <a href="https://orcid.org">orcid.org.</a></div>
    
      <h3>About the iD Optimization Meter</h3>
      <div>The iD Optimization Meter is provided by UC Davis to help you improve your 
        ORCID profile. The meter scores your iD according to accuracy and completeness. 
        It also provides a list of errors or suggested improvements to help you complete 
        your iD and improve your score.</div>
      <div>Connecting your iD with UC Davis gives us permission to update your ORCID record, 
        helping you keep your record up-to-date with trusted information. You may disconnect 
        your accounts at any time.</div>

      <h3>Need Help?</h3>
      <div>For technical assistance, email <a href="mailto:orcid@ucdavis.edu">orcid@ucdavis.edu</a></div>
    </div>   
  </div>

  <div section="orcid-login">
    <div class="title">Get Connected</div>

    <div class="description">Connect your ORCiD iD to your UC Davis account by logging in into ORCiD.</div>
    <div style="margin-top: 25px">
      <a class="btn" href="/auth/orcid/oauth-login">
        <div style="display:flex">
          <img src="/images/orcid-vector-logo.svg" style="height: 50px"/>
          <div style="text-align: left; padding-left: 20px;">Register or Connect <br /> Your ORCiD iD</div>
        </div>
      </a>
    </div>

    <div style="margin-top: 30px">You will only need to do this once.</div>
  </div>
  
  <div section="link-approval">
    <div class="title">Link Accounts</div>

    <div class="description">Check that the correct accounts are displayed below.</div>

    <div class="review">
      
        <div class="review-card">
          <div><img src="/images/ucd-vector-logo-blue.svg" style="height: 38px; margin-top: 7px;" /></div>
          
          <div class="info-label">Name</div>
          <div>[[ucdName]]</div>
          <div class="info-label">Email</div>
          <div>[[ucdEmail]]</div>
          <div class="info-label">Title</div>
          <div>[[ucdTitle]]</div>
          <div class="info-label">Department</div>
          <div>[[ucdDept]]</div>

        </div>

        <div class="review-card">
          <div>
            <img src="/images/orcid-logo.png" />
          </div>

          <div class="info-label">Name</div>
          <div>[[orcidName]]</div>
          <div class="info-label">iD Number</div>
          <div>
            <img src="/images/orcid-vector-logo.svg" style="height: 18px; width: 18px; vertical-align: middle" />
            <a href="[[orcidUrl]]" class="orcid" target="_blank">[[orcidUrl]]</a>
          </div>
        </div>
      </div>

    <div style="text-align:center">
      <a class="btn" style="cursor:pointer" on-click="_linkAccounts" disabled$="[[linking]]">
        Link UCD & ORCiD Accounts
      </a>

      <a href="/auth/logout" class="btn inverse" style="margin-left: 40px" disabled$="[[linking]]">
        Cancel
      </a>
    </div>
  </div>
</iron-pages>

