<style include="shared-styles">
  :host {
    display: block;
  }

  .green {
    color: var(--default-primary-color);
  }

  [section="orcid-login"] {
    text-align: center;
  }
  [section="orcid-login"] .title {
    font-size: 28px;
    margin: 50px 0;
    font-weight: bold;
    color: var(--default-primary-color);
  }
  [section="orcid-login"] .description {
    font-size: 24px;
    padding: 0 15px;
  }
  [section="orcid-login"] .about {
    padding: 20px; 
    margin-top: 20px;
    border-top: 1px solid var(--medium-background-color);
    text-align: left;
  }
  [section="orcid-login"] .about h3 {
    margin-bottom: 8px;
  }

  [section="cas-login"] {
    text-align: center;
  }
  [section="cas-login"] .title {
    font-size: 28px;
    margin: 50px 0 10px 0;
    font-weight: bold;
    color: var(--default-primary-color);
  }
  [section="cas-login"] .orcid a,
  [section="cas-login"] .orcid a:visited  {
    text-decoration: none;
    color: var(--default-secondary-color);
  }
  [section="cas-login"] .description  {
    font-size: 24px;
    padding: 35px;
  }

  [section="link-approval"] .title {
    font-size: 28px;
    margin: 50px 0 10px 0;
    font-weight: bold;
    color: var(--default-primary-color);
    text-align: center;
  }
  [section="link-approval"] .description {
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
  }
  [section="link-approval"] .review {
    display: flex;
    margin: 30px 0;
  }
  [section="link-approval"] .review > div {
    flex: 1;
    padding: 40px;
  }

  @media(max-width: 768px) {
    [section="link-approval"] .review {
      display: block;
    }
  }

  table {
    border-spacing: 5px;
    border-collapse: separate;
  }

  .ucd-credentials {
    display: flex;
    justify-content: center;
  }

  .ucd-credentials > div {
    padding: 30px;
    border-radius: 30px;
    background-color: #e1e6ed;
  }

  .ucd-credentials .btn {
    margin: 25px 0 0 0;
  }

  a.btn > img {
    vertical-align: middle; 
    height: 30px;
    width: 30px;
    padding-right: 5px;
  }

  .btn {
    margin: 15px 0;
  }

  .no-id {
    color: var(--orcid-grey);
  }

  .no-id a, .no-id a:visited {
    text-decoration: none;
    color: var(--default-secondary-color);
  }
</style>

<iron-pages selected="[[section]]" attr-for-selected="section">
  <div section="orcid-login">
    <div class="title">Improve Your iD</div>
    <div class="description">Get the most out of your ORCiD iD with help from UC Davis.</div>
    <div style="margin-top: 25px">
      <a class="btn" href="/auth/orcid/oauth-login">
        <img src="/images/orcid-vector-logo.svg" /> Login to ORCiD
      </a>
    </div>
    <div class="no-id">No iD? <a href="https://orcid.org/register">Create one.</a></div>

    <div class="about">
      <h3>About ORCID</h3>
      <div>ORCID is an independent non-profit organization that provides a persistent 
        identifier – an ORCID iD – that distinguishes you from other researchers and 
        a mechanism for linking your research outputs and activities to your iD. ORCID 
        is integrated into many systems used by publishers, funders, institutions, and 
        other research-related services. Learn more at orcid.org.</div>
    
      <h3>About the iD Optimization Meter</h3>
      <div>The iD Optimization Meter is provided by UC Davis to help you improve your 
        ORCID profile. The meter scores your iD according to accuracy and completeness. 
        It also provides a list of errors or suggested improvements to help you complete 
        your iD and improve your score.</div>
    </div>
  </div>
  
  <div section="cas-login">
    <div class="title">Hello [[orcidName]]</div>
    <div class="orcid">
      <img src="/images/orcid-vector-logo.svg" style="height: 18px; width: 18px; vertical-align: middle" />
      <a href="[[orcidUrl]]" target="_blank">[[orcid]]</a>
    </div>
    <div class="description">Connect your ORCiD iD to your UC Davis account by logging in with your CAS credentials</div>

    <div class="ucd-credentials">
      <div>
        <div><img src="/images/ucd-vector-logo-blue.svg" style="height: 46px" /></div>
        <div><a href="/auth/cas/login" class="btn">Login</a></div>
      </div>
    </div>

    <div style="margin-top: 50px">You will only need to do this once.</div>
  </div>
  
  <div section="link-approval">
    <div class="title">Link Accounts</div>

    <div class="description">Review account information below is correct.</div>

    <div class="review">
      <div>
        <div><img src="/images/ucd-vector-logo-blue.svg" style="height: 46px" /></div>
        <table>
          <tr>
            <td>Name:</td>
            <td>[[ucdName]]</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>[[ucdEmail]]</td>
          </tr>
          <tr>
            <td>Title:</td>
            <td>[[ucdTitle]]</td>
          </tr>
          <tr>
            <td>Department:</td>
            <td>[[ucdDept]]</td>
          </tr>
        </table>
      </div>
      <div>
        <div>
          <img src="/images/orcid-logo.png" />
        </div>
        <table>
          <tr>
            <td>Name:</td>
            <td>[[orcidName]]</td>
          </tr>
          <tr>
            <td>ORCiD:</td>
            <td>
              <img src="/images/orcid-vector-logo.svg" style="height: 18px; width: 18px; vertical-align: middle" />
              <a href="[[orcidUrl]]" target="_blank">[[orcid]]</a>
            </td>
          </tr>
          </tr>
        </table>
      </div>
    </div>

    <div style="text-align:center">
      <a class="btn" style="cursor:pointer" on-click="_linkAccounts" disabled$="[[linking]]">
        Link UCD & ORCiD Accounts
      </a>

      <a href="/auth/logout" class="btn inverse" style="margin-left: 40px" disabled$="[[linking]]">
        Cancel
      </a>
    </div>
  </div>
</iron-pages>

