<style include="shared-styles">
  :host {
    display: block;
  }

  .title {
    font-size: 28px;
    margin: 50px 0 20px 0;
    font-weight: bold;
    color: var(--default-primary-color);
  }


  .break-line {
    height: 1px;
    background-color: var(--medium-background-color);
  }
</style>

<div class="title">No authorization given.  Are you sure?</div>

<div class="break-line"></div>

<h3>Why should I authorize UC Davis?</h3>

<p>UC Davis is requesting access to your ORCID iD so we can assist in updating your 
  ORCID record with accurate, official information about your current UC Davis 
  employment and help you get the most out of your iD.</p>

<p>No changes will be made to your ORCID record unless you authorize UC Davis to do so. 
  Any information added can be deleted at any time.</p>

<p>You can revoke access to your ORCID acount at any time via  
  <a href$="[[orcidUrl]]/account" target="_blank">[[orcidUrl]]/account.</a></p>

<div class="break-line"></div>

<div style="text-align: right; padding: 20px">
  <a href="/auth/logout" class="btn inverse" style="margin-right: 40px">
    Do not authorize
  </a>

  <a href="/auth/orcid/oauth-login" class="btn" style="cursor:pointer">
    Authorize UC Davis
  </a>
</div>