<style>
  :host {
    display: block;
  }

  .layout {
    display: flex;
  }

  @media(max-width: 525px) {
    .layout {
      display: block;
    }
  }

  .item-layout {
    display: flex;
    align-items: center;
  }

  a {
    cursor: pointer;
    color: var(--default-secondary-color);
  }

  h2 {
    margin-bottom: 5px;
    font-size: 20px;
  }

  #chart {
    display: inline-block;
  }

  app-checklist-help {
    margin-bottom: 4px;
  }
</style>

<div class="layout">
  <div style="margin-right: 35px; text-align: center">
    <div>
      <app-completed-chart id="chart"></app-completed-chart>
    </div>
    <a on-click="_onReloadClicked">Reload the iD score</a>
  </div>

  <div style="flex:1; max-width: 450px">
    <h2 style="margin-top: 0">Improve Your iD with Key Features</h2>

    <dom-repeat items="[[checklist]]">
      <template>
        <div class="item-layout">
          <app-checklist-mark text="[[item.text]]" checked$="[[item.checked]]"></app-checklist-mark>
          <app-checklist-help>
            <div>[[item.help]]</div>
          </app-checklist-help>
        </div>
      </template>
    </dom-repeat>

    <div hidden$="[[!errors.length]]">
      <h2>Errors Detected</h2>
      <dom-repeat items="[[errors]]">
        <template>
          <div class="item-layout">
            <app-checklist-mark text="[[item.text]]" error></app-checklist-mark>
            <app-checklist-help>
              <div>[[item.help]]</div>
            </app-checklist-help>
          </div>
        </template>
      </dom-repeat>
    </div>
  </div>
</div>

