<style include="shared-styles">
  :host {
    display: block;
  }
  :host([reloading]) {
    opacity : 0.5;
  }

  .layout {
    display: flex;
  }

  @media(max-width: 525px) {
    .layout {
      display: block;
    }
  }

  .item-layout {
    display: flex;
    align-items: center;
  }

  a {
    cursor: pointer;
    color: var(--default-secondary-color);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }

  app-checklist-help {
    margin-bottom: 4px;
  }

  .checklist {
    text-align: center;
  }

  .checklist > div {
    display: inline-block;
    margin: auto;
    text-align: left;
  }

  .username {
    text-align: center;
    margin-top: 50px;
  }

  .footer {
    text-align: center;
    margin-top: 30px;
  }

  .description {
    font-size: 22px; 
    text-align:center; 
    margin: 30px 0 50px 0; 
    font-weight: 100
  }

  @keyframes complete {
    from {
      transform: scale(0);
      color: var(--default-primary-color);
    }
    to {
      transform: scale(1);
      color: black;
    }
  }

  .description.complete {
    /* animation: complete 200ms ease-out; */
  }

  iron-icon[icon="help"] {
    --iron-icon-width: 16px;
    --iron-icon-height: 16px;
    vertical-align: text-bottom;
    margin-left: 10px;
  }
</style>

<div class="username">
  <div class="title">Hello [[username]]</div>
  <app-orcid-label orcid="[[orcid]]"></app-orcid-label>
</div>
<div class="description" hidden$="[[complete]]">
  Optimizing your record will improve its accuracy and usefulness.
</div>
<div class="description complete" hidden$="[[!complete]]">
  Nice Work!  Your ORCID record looks great!
</div>

<div class="checklist">
  <div>
    <div class="layout">
      <div style="margin-right: 35px; text-align: center">
        <app-completed-chart id="chart"></app-completed-chart>
        <div><a on-click="_onReloadClicked">Reload iD score</a></div>
      </div>

      <div style="max-width: 450px;">
        <div>
          <h2>Improve Your iD with Key Features</h2>
        </div>

        <dom-repeat items="[[checklist]]">
          <template>
            <div class="item-layout">
              <app-checklist-mark text="[[item.text]]" checked$="[[item.checked]]"></app-checklist-mark>

              <dom-if if="[[item.helpIsLink]]">
                <template>
                  <a href$="[[item.help]]"><iron-icon icon="help"></iron-icon></a>
                </template>
              </dom-if>
              <dom-if if="[[!item.helpIsLink]]">
                <template>
                  <app-checklist-help help="[[item.help]]"></app-checklist-help>
                </template>
              </dom-if>
              
            </div>
            <dom-if if="[[item.isEmployment]]">
              <template>
                <app-checklist-employments ></app-checklist-employments>
              </template>
            </dom-if>
          </template>
        </dom-repeat>
      </div>
    </div>
  </div>
</div>

<div class="break-line" style="margin-top:50px"></div>
  
<div style="text-align: right; padding-top: 30px">
  <a class="btn" href$="[[orcidUrl]]/my-orcid" target="_blank">
    Complete your iD
    <iron-icon icon="chevron-right"></iron-icon>
  </a>
</div>

<div class="info-text footer">
  <div>For help, email <a href="mailto:orcid@ucdavis.edu">orcid@ucdavis.edu</a>.</div>
  <div>No longer want to use the ORCID iD Optimizer? <a style="cursor: pointer" on-click="_rejectToken">Disconnect your accounts</a>.</div>
</div>