<style>
  :host {
    display: block;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .text {
    z-index: 5;
    position: absolute;
    text-align: center;
    top: 75px;
    left: 0;
    right: 0;
  }
  h1 {
    z-index: 5;
    font-size: 50px;
    margin: 0 0 5px 0;
  }
  h1[complete] {
    font-size: 38px;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
</style>

<div id="outer" style="position: relative">
  <canvas id="canvas" height$="[[height]]" width$="[[width]]"></canvas>
  <div class="text">
    <h1 complete$="[[complete]]">[[percent]]%</h1>
    <h3>optimized</h3>
  </div>
</div>