<style include="shared-styles">
  :host {
    display: block;
    margin-left: 34px;
  }

  a {
    display: inline-block;
    cursor: pointer;
    color: var(--default-secondary-color);
    text-overflow: ellipsis;
    max-width: 275px;
    white-space: nowrap;
    overflow: hidden;
  }

  iron-icon {
    color: var(--default-secondary-color);
    cursor: pointer;
    vertical-align: middle;
    --iron-icon-height: 18px;
    --iron-icon-width: 18px;
  }



  iron-icon[icon="add-box"] {
    vertical-align: bottom;
    --iron-icon-height: 30px;
    --iron-icon-width: 30px;
  }
</style>

<div hidden$="[[hasEmployment]]">
  <a href="/employment/edit">
    <iron-icon icon="add-box"></iron-icon> Select from UC Davis records
  </a>
</div>
<div hidden$="[[!hasEmployment]]" style="display:flex; align-items: center">
  <a class="edit" href="/employment/view">[[position]] <span hidden$="[[!hasPosition]]">/</span> [[department]]</a>
  <iron-icon icon="create" on-click="_onEditClicked" style="padding-left: 5px"></iron-icon>
</div>