<style>
  :host {
    display: inline-block;
    border: 1px solid var(--medium-background-color);
    cursor: pointer;
    height: 24px;
    width: 24px;
    overflow: hidden;
  }

  :host([checked]) {
    background-color: var(--default-secondary-color);
    border: 1px solid var(--default-secondary-color);
  }

  :host([readonly]) {
    background-color: #eee;
  }

  :host([checked][readonly]) {
    background-color: white;
    border: 1px solid white;
  }

  :host([checked][readonly]) iron-icon {
    color: var(--default-secondary-color);
  }

  :host([circle]) {
    border-radius: 16px;
  }

  iron-icon {
    color: var(--inverse-text-color);
    vertical-align: top;
  }

  [hidden] {
    display: none !important;
  }
</style>

<iron-icon icon="check" hidden$="[[!checked]]"></iron-icon>