<style include="shared-styles">
  :host {
    display: block;
  }

  .title {
    text-align: center
  }

  .description {
    margin-top: 25px;
    font-style: italic;
  }

  .btns {
    text-align: right;
    padding: 15px;
  }

  .checkbox-layout {
    margin-top: 15px;
    display: flex;
  }

  .checkbox-layout app-checkbox {
    margin: 0 20px;
  }

  label {
    font-weight: bold;
  }

  .value-label, .pos-info {
    color: var(--orcid-grey);
  }

  h3 {
    margin-bottom: 5px;
  }

  .content-padding {
    padding: 20px;
  }
</style>

<h2 class="title">UC Davis Employment</h2>

<div class="break-line"></div>

<div class="content-padding">

  <div class="description">Select the employment information you want to include on your ORCiD iD</div>

  <h3>Position Information</h3>
  <div class="pos-info">If no selection is made, an entry for UC Davis will be added without position information using
    your earliest start date.</div>

  <dom-repeat items="[[positions]]">
    <template>
      <div class="checkbox-layout">
        <div>
          <app-checkbox 
            id$="ppsCheckbox-[[index]]" 
            labelledby$="pps-check-label-[[index]]" 
            checked="{{item.enabled}}"
            index$="[[index]]">
          </app-checkbox>
        </div>
        <div>
          <div><label id$="pps-check-label-[[index]]">[[item.title]]</label></div>
          <div><span class="value-label">Department:</span> [[item.department]]</div>
          <div><span class="value-label">Start Date:</span> [[item.startDate]]</div>
        </div>
      </div>
    </template>
  </dom-repeat>

  <div hidden$="[[!hasOrgs]]">
    <h3>Organizations</h3>
    <div>Include these organizations to increases visibility and findability of your work.</div>

    <dom-repeat items="[[organizations]]">
      <template>
        <div class="checkbox-layout">
          <div>
            <app-checkbox 
              id$="orgsCheckbox-[[index]]" 
              labelledby$="orgs-check-label-[[index]]" 
              checked="{{item.enabled}}"
              index$="[[index]]">
            </app-checkbox> 
          </div>
          <div>
            <div><label id$="orgs-check-label-[[index]]">[[item.department]]</label></div>
            <div><span class="value-label">Start Date:</span> [[item.startDate]]</div>
          </div>
        </div>
      </template>
    </dom-repeat>
  </div>

</div>

<div class="break-line"></div>

<div class="btns">
  <a class="btn inverse" href="/scorecard">Cancel</a>
  <a class="btn" on-click="_save" hidden$="[[updating]]">Update iD</a>
  <a class="btn" hidden$="[[!updating]]">Updating...</a>
</div>